* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("resources/bgd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    position: relative;
    height: 370px;
  }
  
  .header .imga {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(240, 190, 137, 0.4), rgba(239, 103, 173, 0.5));
    padding: 10px;
    border: 3px solid rgb(188, 116, 9);
    margin-top: 0;
  }

  .menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a {
    display: block;
    color: #fff;
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .menu li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }
  
  
  .actor-info-container {
    display: flex;
    margin-top: 20px;
  }

  
  .actor-info-container .actor-image {
    width: 600px; 
    height: 600px; 
    margin-right: 20px;
  }
  
  .actor-info-container .actor-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  
  .actor-info-container .actor-details {
    flex-grow: 1;
    display: flex; /* Am adăugat flex pentru a alinia textul în dreapta imaginii */
    flex-direction: column; /* Așezăm elementele pe verticală */
    justify-content: center; /* Aliniem vertical textul în container */
    color: #c62462; /* Am schimbat culoarea textului la un roz mai deschis */
    font-family: "Arial", sans-serif; /* Am setat un font elegant */
  }
  
  .actor-info-container .actor-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .actor-info-container .actor-details p {
    color: #a32194;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .actor-info-container .actor-details .known-for {
    color: #a32194;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .actor-info-container .actor-details .known-for h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .actor-info-container .actor-details .known-for ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .actor-info-container .actor-details .known-for ul li {
    color: #a32194;
    font-size: 16px;
    margin-bottom: 5px;
  }
  




