/* Selectăm toate elementeles */
*{
  background-color: rgb(163, 156, 194);
}

.top {
    
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(140, 132, 148, 0.4),rgba(243, 232, 194, 0.4));
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -10px;
  box-shadow: 0px 2px 5px rgba(239, 234, 234, 0.1); 
  font-family: "Lucida Handwriting", cursive;
  font-weight: bold;
}
.imga{

  color: rgb(251, 248, 248);
  background-size: cover;
  background-position: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.header{
color: rgb(251, 248, 248);
font-family: "Lucida Console", monospace;
text-shadow: 2px 2px 0px #664685, 4px 4px 0px rgb(50, 8, 63);

}
/* Stilurile pentru meniu */

.menu {
    
  list-style-type: none;
  margin: 0 70px 0 100px;
  padding: 0;
  font-size: 45px;
  overflow: hidden;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: rgb(251, 248, 248);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #ddd;
}

.active {
  background-color: #4CAF50;
}


  /* aplicam fontul */
.help-container {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* stilizam titlul */
.help-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: "Lucida Console", monospace;
text-shadow: 2px 2px 0px #664685, 4px 4px 0px rgb(50, 8, 63);
}

/* stilizam textul de ajutor */
.help-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: "Brush Script MT", cursive;
}

/* stilizam intrebarile din FAQ */
.faq-question {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: "Brush Script MT", cursive;
  text-shadow: 2px 2px 0px #664685;

}

/* stilizam raspunsurile din FAQ */
.faq-answer {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.faq-title {
  font-size: 1.5rem;
  font-family: "Lucida Console", monospace;
  text-shadow: 2px 2px 0px #664685, 4px 4px 0px rgb(50, 8, 63);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.about-button,
.contact-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #220968;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.about-button:hover,
.contact-button:hover {
  cursor: pointer;
  background-color: #9a459c;
}

/* Styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
  .menu {
    margin: 0;
    text-align: center;
  }
  
  .menu li {
    display: inline-block;
    float: none;
  }
  
  
  .help-title {
    font-size: 2rem;
  }
  
  .help-text {
    font-size: 1.2rem;
  }
  
  .faq-question {
    font-size: 1.1rem;
  }
  
  .faq-answer {
    font-size: 1rem;
  }
  
  .about-button,
  .contact-button {
    font-size: 16px;
  }
}

